//side bar style
.matrixtotal{
  overflow:scroll;
  max-height: 36rem;
  padding: 0rem 1rem;
  background: linear-gradient(13deg, #c9c4f780, #f5d5d500);
}
.btmholl{
  width: 100%;
}
.textBold{
  font-weight: 600;
}
.textMonitor{
  font-weight: 8700;
  margin: 0 1rem;
}
::-webkit-scrollbar {
    width: 5px;  /* 세로축 스크롤바 길이 */
    height: 0px;  /* 가로축 스크롤바 길이 */
}
::-webkit-scrollbar-track {
  background-color: lightblue;
}
::-webkit-scrollbar-track-piece {
  background-color:#eee;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #a1a1a17c;
}
.table-responsive{
  text-align: center;
}
.matrixtable{
  padding: 1rem;
  font-size: 0.7rem;
}
.matrixtable div{
  padding: 1rem 0.4rem;
  margin: 0.7rem 0rem;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 8px 0px #0000002d;
  transition: 0.3s ease-in-out;
  border: 1px solid #321fdb80;
  &:hover{
    background: #0065ff3d;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 0px 0px 0px #00000054
  }
}

//검색한 T값 - 사용자
.searchT{
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  background: linear-gradient(13deg, #c9c4f700,#0065ff3d);
}
.searchT section{
  transition: 0.3s ease-in-out;
  box-shadow: 0px 0px 0px 0px #00000054;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  background: #0066ff !important;
  border-radius: 15px;
}
.searchT div{
  padding: 1rem 0.4rem;
  margin: 0.7rem 0rem;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 8px 0px #00000011;
  transition: 0.3s ease-in-out;
  &:hover{
    background: #0065ff3d;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 0px 0px 0px #00000054
  }
}
.searchT section h5{
  font-size: 1rem!important;
  color:#ffffff;
  font-weight: bold;
  text-shadow: 0px 0px 6px #000000;
  transition: 0.3s ease-in-out;
}
.searchT section p{
  font-size: 0.6rem!important;
  margin: 0!important;
  color: white;
  text-shadow: 0px 0px 4px #000000;
  transition: 0.3s ease-in-out;
  margin-bottom: 0;
}

//검색한 T값 - 공격 그룹
.attckGroupT{
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  background: linear-gradient(13deg, #c9c4f700, #ffa6003b);
  transition: 0.2s ease-in-out;
}
.attckGroupT section{
  transition: 0.2s ease-in-out;
  box-shadow: 0px 0px 0px 0px #00000054;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  background: #ffa600 !important;
  border-radius: 15px;
}
.attckGroupT div{
  padding: 1rem 0.4rem;
  margin: 0.7rem 0rem;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 8px 0px #00000011;
  transition: 0.2s ease-in-out;
  &:hover{
    background: #0065ff3d;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0px 0px 0px #00000054
  }
}
.attckGroupT section h5{
  font-size: 1rem!important;
  color:#ffffff;
  font-weight: bold;
  text-shadow: 0px 0px 6px #000000;
  transition: 0.2s ease-in-out;
}
.attckGroupT section p{
  font-size: 0.6rem!important;
  margin: 0!important;
  color: white;
  text-shadow: 0px 0px 4px #000000;
  transition: 0.2s ease-in-out;
}

//검색후, T값이 같을 경우 className추가
.matchT{
  padding: 1rem;
  background: linear-gradient(13deg, #c9c4f700, #da151573);
  font-weight: 600;
  font-size: 0.8rem;
  transition: 0.2s ease-in-out;
}
.matchT section{
  transition: 0.2s ease-in-out;
  box-shadow: 0px 0px 0px 0px #00000054;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  background:  #da1515 !important;
  border-radius: 15px;
}
.matchT div{
  padding: 1rem 0.4rem;
  margin: 0.7rem 0rem;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 8px 0px #00000011;
  transition: 0.2s ease-in-out;
  &:hover{
    background: #0065ff3d;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0px 0px 0px #00000054 
  }
}
.matchT section h5{
  font-size: 1rem!important;
  transition: 0.2s ease-in-out;
  color:#ffffff;
  font-weight: bold;
  text-shadow: 0px 0px 6px #000000;;
}
.matchT section p{
  transition: 0.2s ease-in-out;
  margin: 0!important;
  font-size: 0.6rem!important;
  color: white;
  text-shadow: 0px 0px 4px #000000;
}



.btn-info{
  background: #321fdb!important;
  border-color: #321fdb!important;
}
.form-group{
  margin-bottom:0!important;
}
.matrixtable section{
  height: 3rem;
  border-bottom: 2px solid #321fdb94;
}
.matrixtable section p{
  margin: 0;
  position: absolute;
  color:#040027;
}
.matrixtable section h5{
  font-size: 0.9rem!important;
  color:#040027;
  font-weight: bold;
}
hr{
  opacity: 0.5;
  margin: 2rem 1rem!important;
}


//Legend
.attckGrouptLegend{
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background: #ffa600;
  margin: 0.2rem 1rem 0.2rem 1rem;
}
.matchTLegend{
  margin: 0.2rem 1rem 0.2rem 1rem;
  background: #da1515;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
}
.searchTLegend{
  margin: 0.2rem 1rem 0.2rem 0rem;
  background: #321fdb;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
}
.LegendRow{
  margin: auto 1rem 0rem 1rem;
  cursor: pointer;
}
.legend{
  padding: 0 1rem;
}
//공격 그룹 확인 
.attackGroupBtn{
  overflow: scroll;
  max-height: 36rem;
}

//correlation table 
.tableTopMargin{
  margin-top: 3rem;
  margin-bottom: 3rem;
  opacity: 0.3;
}
.restbtn{
  margin: 0 1rem 0.5rem auto;
}
.restbtn button{
  margin: 0 0.5rem;
}

//side bar style
.c-sidebar {
  background: #0247b9!important;
}
.c-sidebar-nav-link.c-active{
  color: #fff;
  background:#321fdb!important;
}
.c-header-nav-link{
  font-size: 1rem;
  font-weight: 600;
}
.searchtoolbar{
  margin: 1rem;
}
.hiddenUidSelec{
  display: none;
}

//modal style 
.modal-dialog{
  max-width: 50% !important;
  margin: 3rem auto!important;
}
.modal-body{
  height: 30rem;
  overflow: scroll;
}

///spiner-center
.spinner-center{
  margin: 3rem auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  min-height: 50vh;
}

//.tippy-content
.tippy-content{
  min-width: 30rem!important;
  max-width: 40rem;
  white-space: break-spaces!important;
}
.tippy-box{
  max-width: 100%!important;
  box-shadow: 1px 3px 12px 1px #0000002e;
}
.popover-header{
  background-color: #321fdb!important;
  color: #fff;
}

.hostIpSelector{
  margin-left: auto;
  padding: 0!important;
}

//DashBoard

.abnormalTitle{
  font-weight: 800;
  margin: 0 0 1rem 0;
}

.dashChangeHostIp{
  position: fixed;
  z-index: 9999;
  top: 3.5rem;
  right: 2rem;
  width: 85rem;
}
.custom-select, .custom-select > option{  
  cursor: pointer;
}

.logCount{
  text-align: right;
}

.attgroupResult{
  text-align: center;
  padding:0!important;
}

.corrlresult{
  padding: 0.5rem 0rem;
  border: 1px solid #eee;
  margin: 0 0 0.5rem auto!important;
  border-radius: 19px;
  box-shadow: 0 0 7px #eee;
}

.attgroupResult button{
  transition: 0.3s ease-in-out;
  &:hover{
    background: #321fdb;
    /* color: #000; */
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
  }
}
.posiab{
  position: absolute;
}

.folderimage{
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.folderTree{
  height: 35rem;
  overflow: scroll;
}
.treeClickValue{
  cursor: pointer;
}

.treeBtn{
  background: none;
  border: 0;
  &:focus{
    border: 0!important;
    outline: none!important;
  }
}
.folderTree .treeview>div{
  border-left: 1px dashed rgba(0, 0, 0, 0.4)!important;
}
.contentsList{
  list-style:decimal-leading-zero;
}
.contentsList::marker {
  color:#b9b9b9;
}

.changeDirList{
  background: none;
  border: none;
  padding: 0.5rem 0;
  text-align: left;
  cursor: pointer;
}
.folderTree li{
  transition: 0.3s ease-in-out;
  border-radius: 0px;
  &:hover{
    transition: 0.3s ease-in-out;
    background: #0066ff46;
    border-radius: 10px;
  }
}
.folderTree ul{
  list-style: none;
  padding-left: 0rem;
}

.ulListStyle{
  padding: 0 1rem;
  border-left: 1px dashed #afafaf;
  margin: 1rem 1rem;
}

.historyList{
  width: 80%;
  padding: 1rem;
  background: #eee;
  margin: 0.5rem 0;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  &:hover{
    box-shadow: 0 0 9px 1px rgba(50, 31, 219, 0.5);
    transition: 0.3s ease-in-out;
  }
}
.historyLin{
  width: 2rem;
    border-bottom: 1px dashed #afafaf;
    margin: auto 0;
}
.totalHistoryLog{
  white-space: break-spaces;
  line-height: 2rem;
  //text-decoration-line: underline;
  margin-left: 1rem;
}
.centerTime{
  text-align: center;
  margin: 0.3rem 0;
  cursor: pointer;
}
.footerlogCount{
  margin: 0 auto 0 1rem!important;
}
.tableclass{
  width: 100%;
}
.itemTimeValue{
  width: 20%;
  vertical-align: top;
  padding: 1rem;
  font-weight: 600;
}
.totalLog{
  padding: 1rem 1rem;
  line-height: 1.5rem;
}
.historytr{
  border-bottom: 1px solid #7b7b7b45;
  border-top: 1px solid #7b7b7b45;
}
.logsection{
  padding: 1rem 0.5rem;
}
strong{
  background: #eee;
  font-weight: 600!important;
  padding: 0 0.1rem;
  margin: 0 0.3rem;
}

.redLegend{
  margin: 0.2rem 1rem 0.2rem 0rem;
  background: #ff0000;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
}
.greenLegend{
  margin: 0.2rem 1rem 0.2rem 1rem;
  background: #00ff2a;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
}
.submatrix{
  background: #321fdb21!important;
  border:none!important;
  box-shadow: none!important;
}

.dropdown-menu{    
  inset: 49px auto auto -8px !important;
}